body {
  background-color: aliceblue;
  padding:1.5rem;
}
hr {
  color: gray;
  border-style: dotted none none;
  border-width: 5px;
  width: 10%;
  height: 0;
}
form{
    width:40%;
}
.headerCont{
display: flex !important;
}
.photo{
  display: inline-block;
  align-items: center;
  margin:auto;
}